h2,div{
    text-align: center;
}
input{
    border-radius: 8px;
    padding: 6px;
}
button{
    background-color: darksalmon;
    border-radius: 6px;
    font-size: 14px;
}
a{
    text-decoration: none;
}